body {
  background: url('/assets/img/other/background2.png') no-repeat;
  background-size: cover;
  backdrop-filter: blur(20px);
}

.app {
  color: white;
  font-family: helvetica, arial, sans-serif;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
