.history {
  flex: 1;
  margin: 5px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  background-color: #0008;
}

.action {
  padding: 4px;
  border-top: 1px solid #DDD;
  display: flex;
  color: #EEE;

  .action-img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }

  .action-infos {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
  }
}

.action.current {
  background-color: #0D04;
}

.action.waiting {
  opacity: 0.3;
}

.action.highlighted {
  background-color: #FFF6;
}

.action.masked {
  // display: none;
  opacity: 0.3;
  background-image: linear-gradient(to bottom right, transparent calc(50% - 1px), white, transparent calc(50% + 1px)), linear-gradient(to bottom left, transparent calc(50% - 1px), white, transparent calc(50% + 1px))
}

.action:hover {
  cursor: pointer;
  padding-left: 5%;
}

.highlighted.action-fire    { background-color: rgb(185,  18,  27, 0.6); }
.highlighted.action-air     { background-color: rgb(150, 255, 150, 0.3); }
.highlighted.action-water   { background-color: rgb( 64, 131, 164, 0.6); }
.highlighted.action-earth   { background-color: rgb( 90,  52,  28, 0.6); }
.highlighted.action-utility { background-color: rgb( 49,  45, 134, 0.5); }
.highlighted.action-test    { background-color: rgb(255, 255, 255, 0.4); }
