.history {
  flex: 1;
  border: 1px solid green;
  margin: 5px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.action {
  margin: 5px;
  padding: 8px;
  border: 1px solid #DDD;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  opacity: 0.3;
  display: flex;

  .action-img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
  }

  .action-infos {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
  }
}

.action:hover {
  cursor: pointer;
  opacity: 1;
  background-color: #444;
  box-shadow: 0 0 0 5px white;
}

.action.completed {
  color: #DDD;
  opacity: 1;
}

.action.current {
  color: #DDD;
  opacity: 1;
  background-color: #444;
}

.action.waiting {
  color: #DDD;
  opacity: 0.3;
}
