.map {
  flex: 3;
  border: 1px solid blue;
  margin: 5px;
  display: grid;
}

.map svg.tiles, .map svg.entities {
  grid-column: 1;
  grid-row: 1;
}

.row {
  stroke: #7E7961;
  stroke-width: 0.1;
}

.cell.even.ground {
  fill: #8E865E;
}

.cell.odd.ground {
  fill: #968E67;
}

.cell.empty {
  fill: #0000;
  stroke: #0000;
  stroke-width: 0;
}

.cell.wall {
  fill: #58533A;
  stroke: #B8B6B2;
  stroke-width: 0.1;
}

.entityCircle {
  stroke-width: 0.3;
}

.entityCircle.defender {
  fill: #00F3;
  stroke: #00F;
}

.entityCircle.attacker {
  fill: #F003;
  stroke: #F00;
}