.map {
  flex: 3;
  border: 1px solid blue;
  margin: 5px;
  display: grid;
}

.map svg.tiles, .map svg.entities {
  grid-column: 1;
  grid-row: 1;
}

.map svg.entities {
  pointer-events: none;
}

.row {
  stroke: #7E7961;
  stroke-width: 0.1;
}

.cell.even.ground {
  fill: #8E865E;
}

.cell.odd.ground {
  fill: #968E67;
}

.trap:hover polygon {
  fill:rgb(185,  18,  27);
}

.cell:hover polygon {
  fill:rgb(185,  18,  27);
}

.cell.empty {
  fill: #0000;
  stroke: #0000;
  stroke-width: 0;
}

.cell.wall {
  fill: #58533A;
  stroke: #B8B6B2;
  stroke-width: 0.1;
}

.entityCircle {
  stroke-width: 0.3;
}

.entityCircle.defender {
  fill: #00F3;
  stroke: #00F;
}

.entityCircle.attacker {
  fill: #F003;
  stroke: #F00;
}

.trap {
  fill: none;
  stroke: none;
  stroke-width: 0;
  stroke-linecap: round;
}

.trap.tricky polygon        { fill: rgba(185,  18,  27, 0.3); } .trap.tricky path        { stroke: rgb(185,  18,  27); stroke-width: 0.3; }
.trap.insidious polygon     { fill: rgba(150, 255, 150, 0.3); } .trap.insidious path     { stroke: rgb(150, 255, 150); stroke-width: 0.3; }
.trap.miry polygon          { fill: rgba( 64, 131, 164, 0.3); } .trap.miry path          { stroke: rgb( 64, 131, 164); stroke-width: 0.3; }
.trap.mass polygon          { fill: rgba( 90,  52,  28, 0.3); } .trap.mass path          { stroke: rgb( 90,  52,  28); stroke-width: 0.3; }
.trap.drift polygon         { fill: rgba(185,  18,  27, 0.3); } .trap.drift path         { stroke: rgb(185,  18,  27); stroke-width: 0.3; }
.trap.malevolent polygon    { fill: rgba( 90,  52,  28, 0.3); } .trap.malevolent path    { stroke: rgb( 90,  52,  28); stroke-width: 0.3; }
.trap.fragmentation polygon { fill: rgba(185,  18,  27, 0.3); } .trap.fragmentation path { stroke: rgb(185,  18,  27); stroke-width: 0.3; }
.trap.paralysing polygon    { fill: rgba( 49,  45, 134, 0.3); } .trap.paralysing path    { stroke: rgb( 49,  45, 134); stroke-width: 0.3; }
.trap.repelling polygon     { fill: rgba(150, 255, 150, 0.3); } .trap.repelling path     { stroke: rgb(150, 255, 150); stroke-width: 0.3; }
.trap.sickrat polygon       { fill: rgba( 64, 131, 164, 0.3); } .trap.sickrat path       { stroke: rgb( 64, 131, 164); stroke-width: 0.3; }
.trap.lethal polygon        { fill: rgba( 90,  52,  28, 0.3); } .trap.lethal path        { stroke: rgb( 90,  52,  28); stroke-width: 0.3; }
.trap.calamity polygon      { fill: rgba( 64, 131, 164, 0.3); } .trap.calamity path      { stroke: rgb( 64, 131, 164); stroke-width: 0.3; }
.trap.massgrave polygon     { fill: rgba( 49,  45, 134, 0.3); } .trap.massgrave path     { stroke: rgb( 49,  45, 134); stroke-width: 0.3; }
.trap.test-trap polygon     { fill: rgba(255, 255, 255, 0.3); } .trap.test-trap path     { stroke: rgb(255, 255, 255); stroke-width: 0.3; }
