.spells {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  line-height: 50%;
}

.spell-category {
  flex: 3;
  display: inline-block;
  text-align: center;
}

.spells .controls {
  flex: 8;
}

.spells-options {
  flex: 8;
}

.spells-options img {
  width: 35px;
  height: 35px;
}

.spells-options .btn {
  background-color: rgb(69, 69, 69);
  border: 2px solid #CCC;
  padding: 5px;
  display: inline-block;
  cursor: pointer;
}

.spells-options .btn.active {
  background-color: rgb(186, 69, 69);
}

.spell {
  cursor: pointer;
  padding: 5px;
}

.spell img {
  user-select: none;
}

.selected-spell {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.3);
}

.controls button {
  width: 60px;
  height: 40px;
  margin-left: 10px;
  background-color: rgb(69, 69, 69);
  border: 2px solid #CCC;
  padding: 0;
  box-shadow: 0 0 10px 5px #0008;
  cursor: pointer;
}

.controls button:active,
.controls button.pause {
  background-color: rgb(186, 69, 69);
}

.controls button img {
  vertical-align: middle;
  display: inline;
  height: 60%;
}

.controls button.play img.img-pause,
.controls button.pause img.img-play {
  display: none;
}
