.stats {
  flex: 1;
  margin: 5px;
  overflow-y: scroll;
  .entity-list,
  .trap-list {
    overflow: scroll;
    height: 150px;
    margin: 10px;
    padding: 0;
    background-color: #0006;
    list-style: none;
    li:not(:last-child) {
      border-bottom: 1px solid white;
    }
    li.placeholder {
      opacity: 0;
    }
    li {
      * {
        vertical-align: middle;
      }
      .trap-order {
        padding-top: 7px;
        padding-bottom: 7px;
        cursor: grab;
        display: inline-block;
        width: 10%;
        text-align: center;
        span {
          display: inline-block;
          width: 100%;
          font-size: 9px;
          position: relative;
          margin-right: 8px;
          color: #CCC;
          font-weight: 100;
          user-select: none;
        }
        span:before,
        span:after {
          left: 0;
          width: 100%;
          font-size: 12px;
          position: absolute;
        }
        span:before {
          content: '^';
          top: -8px;
        }
        span:after {
          content: '^';
          transform: scaleY(-1);
          top: 3px;
        }
      }
      .img-container {
      padding-top: 7px;
      padding-bottom: 7px;
        cursor: grab;
        user-select: none;
        display: inline-block;
        width: 10%;
        img {
          user-select: none;
          width: 18px;
          margin-right: 5px;
        }
      }
      .trap-name {
        padding-top: 7px;
        padding-bottom: 7px;
        cursor: grab;
        user-select: none;
        width: 80%;
        display: inline-block;
        span {
          font-size: 15px;
          color: #EEE;
        }
      }
    }
  }
  .share {
    margin-top: 10px;
    .shareBtn {
      border: 2px solid #CCC;
      background-color: rgb(69, 69, 69);
      color: #CCC;
      padding: 5px 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      font-weight: bold;
      cursor: pointer;
    }
    .shareBtn:active {
      background-color: rgb(186, 69, 69);
    }
    .shareText {
      padding: 10px;
      background-color: #0006;
      overflow: scroll;
      white-space: nowrap;
    }
  }
  .main-character {
    background-color: rgb(69, 69, 69);
    border: 2px solid #CCC;
    cursor: pointer;
    color: #CCC;
    font-weight: bold;
    padding: 10px;
  }
}

.stats.config {
  color: #EEE;
  .close {
    float: right;
    width: 15%;
    height: 0;
    padding: 5px 5px calc(15% + 5px) 0;
    margin: 0;
    border: none;
    position: relative;
    background-color: #0000;
    cursor: pointer;
  }
  .close::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('/assets/img/other/cross.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 50% 50%;
    filter: invert(100%);
    z-index: 0;
  }
  h3 {
    text-align: center;
  }
  hr {
    color: #0006;
  }
  .entity-infos {
    display: flex;
    padding: 10px;
    .image {
      flex-shrink: 0;
      width: 30%;
      height: 0;
      padding: 5px;
      padding-bottom: calc(5px + 30%);
      margin-right: 10px;
      overflow: hidden;
      vertical-align: middle;
      img {
        width: 100%;
      }
    }
    .image.team-red {
      border: 2px solid #F00;
    }
    .image.team-blue {
      border: 2px solid rgb(0, 132, 255);
    }
    .base-infos {
      width: 80%;
      display: block;
      .health {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 50px;
        width: 60px;
        img.hp-full {
          height: 50px;
          width: 60px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
        }
        img.hp-empty {
          height: 50px;
          width: 60px;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: top;
          z-index: 1;
        }
        span {
          text-shadow: 1px 1px 0 black;
          display: block;
          z-index: 2;
        }
      }
      .btn-move {
        border: 2px solid #CCC;
        background-color: rgb(69, 69, 69);
        color: #CCC;
        padding: 5px 10px;
        margin: 5px 10px 0px 0px;
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
        user-select: none;
      }
      .btn-move.active {
        background-color: rgb(186, 69, 69);
      }
    }
  }
  .offensive-stats {
    padding-left: 5px;
    padding-right: 5px;
    li {
      height: 25px;
      margin-bottom: 3px;
      display: flex;
      img {
        margin-right: 5px;
        width: 25px;
      }
      img[src=""] {
        visibility: hidden;
      }
      span {
        line-height: 25px;
        flex: 3;
      }
      input {
        min-width: 0;
        border: none;
        flex: 3;
        appearance: textfield;
        background-color: #FFF6;
        border-radius: 2px;
        padding-left: 5px;
        color: #EEE;
      }
      input:disabled {
        background-color: #0000;
      }
    }
  }
}
