$animSpeed: calc(1s / 10); // 3 cells per second

.map {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  flex: 3;
  margin: 5px;
  display: grid;
  height: fit-content;
}

.map svg.tiles, .map svg.entities {
  grid-column: 1;
  grid-row: 1;
}

.map svg.entities {
  pointer-events: none;
}

.row {
  stroke: #7E7961;
  stroke-width: 0.1;
}

.cell.even.ground {
  fill: #8E865E;
}

.cell.odd.ground {
  fill: #968E67;
}

.cell.ground:hover polygon {
  fill:rgb(185,  18,  27);
}

.cell text {
  user-select: none;
  pointer-events: none;
}

.cell.empty {
  fill: #0000;
  stroke: #0000;
  stroke-width: 0;
}

.cell.wall {
  fill: #58533A;
  stroke: #CCCC;
  stroke-width: 0.1;
}

.entity-circle {
  stroke-width: 0.3;
}

.entity-circle.defender {
  fill: #00F3;
  stroke: #00F;
}

.entity-circle.attacker {
  fill: #F003;
  stroke: #F00;
}

.trap {
  fill: none;
  stroke: none;
  stroke-width: 0.2;
  stroke-linecap: round;
}

.trap polygon {
  opacity: 0.3;
}

.trap-cell path, .trap-image, .trap-cell:not(.trap-center) {
  pointer-events: none;
}

.trap-center {
  cursor: pointer;
}

.trap-highlighted {
  pointer-events: none;
}

.trap-highlighted .trap {
  stroke-width: 1;
}

.trap-highlighted .trap polygon {
  opacity: 0.6;
}

.trap.trap-fire polygon    { fill: rgb(185,  18,  27); } .trap.trap-fire path    { stroke: rgb(185,  18,  27); }
.trap.trap-air polygon     { fill: rgb(150, 255, 150); } .trap.trap-air path     { stroke: rgb(150, 255, 150); }
.trap.trap-water polygon   { fill: rgb( 64, 131, 164); } .trap.trap-water path   { stroke: rgb( 64, 131, 164); }
.trap.trap-earth polygon   { fill: rgb( 90,  52,  28); } .trap.trap-earth path   { stroke: rgb( 90,  52,  28); }
.trap.trap-utility polygon { fill: rgb( 49,  45, 134); } .trap.trap-utility path { stroke: rgb( 49,  45, 134); }

.entity-image {
  transition: x $animSpeed linear, y $animSpeed linear;
}

.entity-circle {
  transition: cx $animSpeed linear, cy $animSpeed linear;
}